---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Invalid request. Missing the 'address', 'components', 'latlng' or 'place_id' parameter.",
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 28 Jan 2020 09:33:32 GMT
recorded_with: VCR 3.0.3
