---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=invalid%20street_address,%2033405%20Talence%20France&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Talence",
                       "short_name" : "Talence",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Gironde",
                       "short_name" : "Gironde",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Nouvelle-Aquitaine",
                       "short_name" : "Nouvelle-Aquitaine",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "France",
                       "short_name" : "FR",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "33400",
                       "short_name" : "33400",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "33400 Talence, France",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 44.825382,
                          "lng" : -0.5726129
                       },
                       "southwest" : {
                          "lat" : 44.786829,
                          "lng" : -0.611104
                       }
                    },
                    "location" : {
                       "lat" : 44.802614,
                       "lng" : -0.588054
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 44.825382,
                          "lng" : -0.5726129
                       },
                       "southwest" : {
                          "lat" : 44.786829,
                          "lng" : -0.611104
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJC5nYpnAnVQ0RINEWSBdlBgQ",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 30 Jan 2020 08:35:15 GMT
recorded_with: VCR 3.0.3
